<button mat-button routerLink="/home" routerLinkActive="active-link">
  <mat-icon style="height: 20px;font-size: 20px;">house</mat-icon> AnaSayfa
</button>
<button mat-button routerLink="/arsiv" routerLinkActive="active-link">
  <mat-icon matSuffix>account_balance</mat-icon> Arşiv
</button>

<button mat-button routerLink="/arsiv/import/" routerLinkActive="active-link">
  <mat-icon matSuffix>account_balance</mat-icon> Arşiv import
</button>


<button mat-button routerLink="/arsiv/add" routerLinkActive="active-link">
  <mat-icon matSuffix>account_balance</mat-icon> Arşiv ekle
</button>